:root {
    --butter-knife-filename-prefix-input-unsaved-background-color: hsl(287, 72%, 90%); /* 當自訂存檔名稱前綴未儲存時，輸入框的背景顏色 */
}

/* 跟著巴哈黑暗模式改變 */
html[data-theme="dark"] {
    --butter-knife-filename-prefix-input-unsaved-background-color: hwb(259.1 65.1% 1.6%);
}


/* 相簿區 */
#butter-knife-album {
    margin-bottom: 10px; /* 讓相簿區和動畫資訊區有一小塊空間隔開 */
}

/* 自訂存檔名稱前綴 - 表單 - 在相簿區之前 */
#butter-knife-config-form {
    margin-bottom: 10px;  /* 讓相簿區和自訂前綴區塊之間有一小塊空間隔開 */
}

#butter-knife-filename-prefix-input {
    width: 28%;
    padding: 8px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid #fee27b;
    border-radius: 4px;
}

#butter-knife-filename-save-filename-prefix-btn {
    background-color: #31c1df;
    color: #f9f9a7;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#butter-knife-filename-save-filename-prefix-btn:hover {
    background-color: #f9f9a7;
    color: #31c1df;
}

.butter-knife-input-label {
    /* 跟著巴哈黑暗模式改變文字顏色 */
    color: var(--text-default-color);
}

/* 當奶油刀按鈕被按下時的樣式
（放開時游標能在按鈕上才會觸發截圖，此樣式只是作為視覺提示奶油刀準備好了） */
#butter-knife-btn:active > #a > g > path {
    fill: hsl(152, 87%, 82%);
}

/* 當自訂存檔名稱前綴未儲存時，輸入框的樣式 */
.butter-knife-filename-prefix-input-unsaved-highlight {
    background-color: var(--butter-knife-filename-prefix-input-unsaved-background-color);
}
